.card{
    background-color: transparent;
    box-shadow: none;
    color: white;
}

.card h2{
    font-weight: bold;
    text-align: center;
    color: white;
}

.card p{
    text-align: justify;
    color: white;
    margin: 25px;
}

.card h3{
  color: white;
  margin: 20px;
  margin-top: 25px;
}

video{
    
}
*{
    font-family: 'Caviar Dreams' !important;
  }