<ion-header>
  <ion-toolbar id="ion-toolbar-css">
    <ion-buttons slot="start">
      <ion-back-button style="color: white !important;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="ion-content-principal">
  <!--<div align="center" *ngFor="let user of dataSource">
    <h2>Bienvenido {{user.name}}</h2>
  </div>
  <ion-grid>
    <ion-row *ngFor="let user of dataSource">
      <ion-col>
        <h3>Mi información</h3>
        <h3><strong>Correo electrónico:</strong> {{user.email}}</h3>
        <h3><strong>Dirección:</strong> {{user.address}}</h3>
      </ion-col>
      <br><br>
      
    </ion-row>
  </ion-grid>-->
  <br><br>
  <h1><strong>¡ Bienvenido !</strong></h1>
  <br>
  <div class="img-css">
    <img src="../../../assets/personaje mujer blanca-03.jpg">
    <h3>Para consultar el valor de tu factura, diligencia los siguientes campos.</h3>
    <form [formGroup]="formPay" (ngSubmit)="pay()">
      <ion-item lines="full">
        <ion-input placeholder="Codigo de factura" formControlName="code" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input placeholder="Periodo (dd/mm/aaaa)" formControlName="date" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col style="color: white;" >
          <ion-button color="secondary" type="submit" expand="block">Consultar</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-grid *ngFor="let invoice of dataSource">
      <ion-row >
        <ion-col>
          <h1><strong>Tu Factura</strong></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><strong>Código de factura: </strong></ion-col>
        <ion-col>{{invoice.code}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><strong>Periodo: </strong></ion-col>
        <ion-col>{{invoice.date_issue}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><strong>Total: </strong></ion-col>
        <ion-col>${{invoice.total}}</ion-col>
      </ion-row>
          
    </ion-grid>

    <ion-button color="danger" shape="round">
      <ion-item name="vpn_key"></ion-item>
      Cerrar Sesión
    </ion-button>
  </div>


  
</ion-content>