*{
    font-family: 'Caviar Dreams' !important;
  }

  p{
    text-align: justify;
    color: white;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 7%;
    font-size: medium;
  }

  h3{
    font-weight: bold;
    color: white;
    margin-top: 5%;
    margin-left: 7%;
  }


  .input{
    border-radius: 15px;
    align: center;
    border-color: rgb(0, 0, 112);
    box-shadow: 0 0 6px #242424;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 10px;
    width: 250px;
    color: black;
  }