<ion-header id="">
  <ion-toolbar id="ion-toolbar-css">
    <ion-buttons slot="start">
      <ion-back-button style="color: white !important;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="ion-content-principal">
  <h3><strong>Aquí puedes pagar tu factura</strong></h3>  
  <p>Paga por PSE:</p>
  <ion-grid>
    <ion-row>
      <div align="center">
        <ion-col>
          <a href="https://www.psepagos.co/PSEHostingUI/ShowTicketOffice.aspx?ID=9437"> 
              <img style="width: 35%; height: auto;" src="../../../assets/PSE.png" >
          </a>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
  <br>
  <p>O encuentra el punto de pago más cercano a tu dirección</p>
  <br>
  
  <iframe style="margin-left: 10%; margin-top: 5%;" src="https://embed.waze.com/iframe?zoom=12&lat=5.00716&lon=-74.34084"
  width="300" height="400">
</iframe>

<ion-list *ngFor="let direccion of dataSource">
  <li>* {{direccion.address}} - {{direccion.city}}</li>
</ion-list>
</ion-content>