<ion-header>
  <div align="center">
    <img src="/assets/header1.png" width="259px" style="margin-top: 18px; margin-bottom: 8px;">
  </div>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" id="ion-content-principal" class="content">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="https://api.whatsapp.com/send?phone=573202220697&text=Hola!%20Tengo%20una%20duda">
      <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png">
    </ion-fab-button>
  </ion-fab>

  <ion-card class="card">
    <h1>Noticias</h1>
    <ion-grid>
      <ion-row *ngFor="let noticia of dataSource">
        <ion-col>
            <h2>{{noticia.title}}</h2>
            <img src="http://espvega.ddns.net/{{noticia.url_image}}">
            <p>{{noticia.autor}}</p>
            <p>{{noticia.content}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
</ion-content>