<ion-header>
  <div align="center">
    <img src="/assets/header1.png" width="259px" style="margin-top: 18px; margin-bottom: 8px;">
  </div>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" id="ion-content-principal" class="content">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="https://api.whatsapp.com/send?phone=573202220697&text=Hola!%20Tengo%20una%20duda">
      <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png">
    </ion-fab-button>
  </ion-fab>

  <ion-card class="card">
    <h2>Noticias</h2>

    <ng-container *ngFor="let noticia of dataSource">
      <h3>{{noticia.title}}</h3>
    </ng-container>

    <ng-container *ngFor="let noticia of dataSource">
      <p>{{noticia.content}}</p>
    </ng-container>

  </ion-card>
</ion-content>