#ion-content-principal:before {
    content:'';
    position: absolute;
          top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }
  .btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
  .tab{
    background-color: rgb(60, 137, 252);
  }

ion-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(0, 49, 123) !important;
}

/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    margin-top: 30px;
    width: 300px;
    height: max-content;
  }

  .card{
      background-color: rgb(255, 255, 255);
  }


  ion-card-content{
    text-align: justify;
    margin: 3%;
    letter-spacing: 0.5px;
    color: black;
  }

  ion-card-title{
    color: black;
    margin: 2%;
    font-weight: bold;
  }

*{
  font-family: 'Caviar Dreams' !important;
}
