*{
    font-family: 'Caviar Dreams' !important;
    color: white;
  }

  .form-css{
    background-color: transparent !important;
  }

  .form-input{
    background-color: rgba(150, 149, 149, 0.535);
  }

  ion-item{
    border-radius: 8px;
    margin: 8px;
  }

  p{
    text-align: justify;
    color: white;
    margin: 25px;
    font-size: smaller;
}

  h1{
    color: white;
    margin: 20px;
    margin-top: 25px;
    text-align: center;
  }
